.bgImage {
  position: fixed;
  left: -15px;
  top: -15px;
  z-index: 1;
  display: block;
  background-size: cover;
  background-position: center;
  width: calc(100vw + 30px);
  height: calc(100vh + 30px);
  filter: blur(9px);
}