.mainGrid {
  height: 100vh;
  display: grid;
  grid-template-rows: 120px calc(100vh - 160px) 50px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header,
.footer {
  background: rgba(0,0,0,.7);
  outline: solid 3px rgba(255,255,255,.2);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.content {
  padding: 60px;
  height: calc(100% - 120px);
  background: rgba(0,0,0,.5);
  z-index: -3;
}