/* CSS debugger */

/* * {
  color:                    hsla(210, 100%, 100%, 0.9) !important;
  background:               hsla(210, 100%,  50%, 0.5) !important;
  outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
} */

/* start of desktop styles */
@font-face {
    font-family: CalamitySans;
    src: url("./fonts/Calamity-Regular.woff") format("woff");
}

@font-face {
    font-family: CalamitySans;
    font-weight: bold;
    src: url("./fonts/Calamity-Bold.woff") format("woff");
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  font-family: CalamitySans, Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  line-height: 1.4em;
}

.blog {
  display: flex;
  height: 100%;
}

.blog .postList {
  overflow: scroll;
  max-height: 100%;
}

.posts {
  display: grid;
  grid-template-rows: 85px 1fr;
  height: 100%;
  min-width: 570px;
  margin-right: 60px;
}

.postNav {
  display: flex;
  height: 74px;
  margin-bottom: 15px;
  justify-content: center;
}

.postList .postLink {
  display: flex;
  box-shadow: 0 0 0 2px rgba(255,255,255,.2), 0 0 0 4px rgba(0,0,0,0.5);
  background: rgba(0,0,0,.5);
  height: 80px;
  margin: 23px 4px;
}

.postLink img {
  padding: 4px;
  min-width: 100px;
  max-width: 100px;
  height: calc(100% - 8px);
  object-fit: cover;
  align-self: flex-start;
}

.postList .postLink h1 {
  margin: .5em .5em 0 .5em;
  font-size: 1em;
  font-weight: bold;
  width: calc(100% - 40px)
}

.postLinkText {
  display: flex;
  flex-direction: column;
}

.postLinkAuthor {
  color: greenyellow;
  margin: 0 0 0 .5em;
  font-size: 14px;
}

.postLink .postLinkREdge {
  background: rgb(77, 77, 77);
  height: 100%;
  min-width: 30px;
  align-self: flex-end;
}

.blog .post {
	box-shadow: 0 0 0 2px rgba(255,255,255,.2), 0 0 0 4px rgba(0,0,0,0.5);
  background: rgba(0,0,0,.5);
  padding: 30px;
  display: flex;
  flex-flow: column;
  overflow: scroll;
  max-height: 100%;
}

.blog .post img {
  width: 100%;
  margin: 1em 0;
}

.blog .post .videoWrapper {
  margin: 1em 0;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.blog .post .videoWrapper iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blog .post strong,
.blog .post i,
.blog .post em {
  font-style: normal;
  color: rgb(255, 49, 76);
}

.blog .post i {
  color: greenyellow;
}

.blog .post a {
  color: rgb(0, 204, 255);
  transition-duration: 300ms;
}

.blog .post a:hover {
  color: rgb(235, 231, 0);
}

.postHead h1 {
  font-size: 30px;
  margin-top: -10px;
  margin-bottom: 9px;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2);
  padding-bottom: 9px;
  line-height: 1.4em;
}

.postContent {
  margin-top: .8em;
}

.postContent p {
  margin-top: 0;
}

.postAuthor {
  color: greenyellow;
  margin-bottom: 1em;
  margin-top: 0;
  text-align: left;
}

.footer {
  padding: 5px 60px;
}

.footer p {
  font-size: 14px;
  margin-top: 6px;
}

@media screen and (max-width: 991px) {
     /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
     /* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
     /* start of phone styles */

}