.navBar {
  display: flex;
}

.navItem {
  display: flex;
  flex-direction: column;
  justify-items: end;
}

.navItem img {
  height: 64%;
  width: 110px;
  margin-top: 5px;
}

.navItem p {
  margin: 0;
  text-align: center;
}